

	<div id="comision" class="veloz">
		
	
		<div class="container">
			<div class="row">
				<div id="titulo-comision" class="col-md-12 col-xs-1 col-sm-1">
					<h2>Comision 2017</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class=" col-xs-12 col-md-3">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Noe Gramajo</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
				<div class=" col-xs-12 col-md-3">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Noe Almonacid</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
				<div class=" col-xs-12 col-md-3">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Julieta</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
				<div class=" col-xs-12 col-md-3">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Julio</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class=" col-xs-12 col-md-4">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Christian</span> 
							<div class="linea-horizontal"></div>
							<p>Hola, me gusta mucho el mundo del SysAdmin y Linux!</p>
						</figcaption>
					</figure>
				</div>
				<div class=" col-xs-12 col-md-4">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Gabriel</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
				<div class=" col-xs-12 col-md-4">
					<figure>
						<img class="foto_perfil" src="imagenes/perfil2.jpg">
						<figcaption>
							<span>Ezequiel</span> 
							<div class="linea-horizontal"></div>
							<p>Palabras</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		
	</div>
		