

<div class="eventos velozz">
	<article id="e1" class="evento">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-2 date-info">
					<h1>Semana del Informatico</h1>
					<p>A principio de este año tuvimos una semana diferente, se realizo por primera ve la semana del informatico!! <a href="#">Leer mas</a></p>
				</div>
				<div class="col-xs-12 col-md-10">
					<div class="slides">
						<img src="imagenes/1.jpeg" alt="">
						<img src="imagenes/2.jpeg" alt="">
						<img src="imagenes/3.jpeg" alt="">
						<img src="imagenes/4.jpeg" alt="">
						<img src="imagenes/5.jpeg" alt="">
					</div>
				</div>
			</div>
		</div>
	</article>
<div class="linea-horizontal_2"></div>
	<article id="e2" class="evento">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-2 date-info">
					<h1>Torneo de Programacion</h1>
					<p>El primer torneo de programacion de la provincia lo organizamos nosotros!! <a href="#">Leer mas</a></p>
				</div>
				<div class="col-xs-12 col-md-10">
					<div class="slides">
						<img src="imagenes/torneo/1.jpg" alt="">
						<img src="imagenes/torneo/2.jpg" alt="">
						<img src="imagenes/torneo/3.jpg" alt="">
						<img src="imagenes/torneo/4.jpg" alt="">
						<img src="imagenes/torneo/5.jpg" alt="">
						<img src="imagenes/torneo/premio.jpg" alt="">
					</div>
				</div>
				
			</div>
		</div>
	</article>
<div class="linea-horizontal_2"></div>
	<article id="e2" class="evento">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-2 date-info">
					<h1>Asado Informatico</h1>
					<p>Despues de haber realizado con exito al semana del informatico y el torneo de programacion el aesi y todos los que lo acompañaron realizaron un gran asado como se debe.</p>
				</div>
				<div class="col-xs-12 col-md-10">
					<div class="slides">
						<img src="imagenes/asado/1.jpg" alt="">
						<img src="imagenes/asado/2.jpg" alt="">
						<img src="imagenes/asado/3.jpg" alt="">
						<img src="imagenes/asado/4.jpg" alt="">
						<img src="imagenes/asado/5.jpg" alt="">
						<img src="imagenes/asado/6.jpg" alt="">
						<img src="imagenes/asado/7.jpg" alt="">
						<img src="imagenes/asado/8.jpg" alt="">
					

					</div>
				</div>
				
			</div>
		</div>
	</article>
</div>
