<div id="home_1" class="">
		<div class="container">
			<div class="row">
				<div class="date-info col-md-2 ">
					<h1 class="highlighted">Que Bueno</h3>
					<h1 class="highlighted">Es Tenerte</h3>
					<h1 class="highlighted">Leyendo Esto</h3>
					
				</div>
				<!--col-lg-5 col-md-10 col-sm-12 col-xs-12 -->
				<div class="col-md-offset-2 main-info col-md-8 ">
					<h2>Hola!</h2>
					<p>Bienvenido!</p>
					<p>Nos presentamos, somos la Agrupacion de Estudiantes de Sistemas e Informatica de la Facultad de Tecnologia de la UNCa, conocida como AESI.</p>
					<p>Esta agrupacion surguio alla por el año 2000 en donde  fuimos reconocidos de manera oficial. Todos los años logramos hacer jornadas, cursos, charlas, entre otros, para el publico en general y especialmente para los estudiantes de la UNCa. <a href="index.php?action=Ingreso::comision"> Conocenos!</a> </p>
					<p> Sos estudiante de la secundaria? El año que viene queres estudiar alguna carrera? Te atrae la tecnologia? Tenes mil dudas y mas para sacarte? 
					Entonces tenes que leer esto <a href="#">"Todos pasamos por tu lugar"</a>.</p>
					<p>Espero que para el 2018 te tengamos en nuestar gran Facultad, estudiando lo que te gusta que es lo mas importante!</p>
					<p>HASTA PRONTO!!!!!!!!!!!!!</p>
				</div>
			</div>
		</div>
		
	</div>
