<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<title>AESI</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/script_christian.js?v=2.6" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="css/bootstrap/bootstrap-social.css">

	<link rel="stylesheet" href="css/fa.css">
	<script type="text/javascript" src="js/jquery.slides.js"></script>


	<link rel="stylesheet" href="css/estilo_christian.css?v=10.6">
    <link rel="stylesheet" href="css/comision.css?v=1.1">
	<link rel="stylesheet" href="css/icoicoico/style.css?v=1.2" type="text/css">
	<script>
			    /*$(function(){	    });*/
	$(function(){
	  $(".slides").slidesjs({
	    play: {
	    active: true,
				        // [boolean] Generate the play and stop buttons.
				        // You cannot use your own buttons. Sorry.
	    effect: "slide",
				        // [string] Can be either "slide" or "fade".
	    interval: 4000,
				        // [number] Time spent on each slide in milliseconds.
	    auto: true,
				        // [boolean] Start playing the slideshow on load.
	    swap: true,
				        // [boolean] show/hide stop and play buttons
	    pauseOnHover: false,
	        // [boolean] pause a playing slideshow on hover
			
		restartDelay: 2500
				        // [number] restart delay on inactive slideshow
	    }
	  });
	});
	</script>
</head>
<body>
	{menu_bar}
	
	{contenido}

<footer>

	<div class="container">
		<div class="row">
			<div class="col-md-5 col-xs-6">
				<h3>Contactanos</h3>
				<div class="rrss">
					<a href="https://www.facebook.com/aesi.tecno" target="_blank" class="btn btn-social-icon  btn-facebook ">
	    				<span class = "fa fa-facebook"> </span>
	  				</a>
	  				<a target="_blank" href="https://github.com/aesi2017" class="btn btn-social-icon btn-github">
	  					<span class="fa fa-github">	</span>
	  				</a>
				</div>
			</div>
		<div class="col-xs-6 col-md-6 col-md-offset-1">
			<a target="_blank" href="http://www.unca.edu.ar/">		
				<img id ="unca-logo" src="imagenes/unca.png" alt="">
			</a>	
			<a target="_blank" href="http://tecno.unca.edu.ar/">
					<img id = "tecno-logo" src="imagenes/facu.png" alt="">
			</a>
		</div>
		<div class="clearfix"></div>
				
		

		</div>
	</div>
</footer>
</body>
</html>